.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 2rem;
    margin-top: 9rem;
    border-radius: 8px;

    input,
    textarea {
        display: block;
        appearance: none;
        border: none;
        outline: none;
        background: none;
        width: 100%;
        color: #fff;
        background-color: #9a94e7;
        font-size: 20px;
        padding: 10px 16px;
        border-radius: 8px;
        margin-bottom: 15px;
        transition: 0.4s;

        &::placeholder {
            color: #f3f3f3;
        }

        &:focus {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        }


        &[type="submit"] {
            width: 70%;
            max-width: 300px;
            background-color: #9a94e7;

            border-radius: 8px;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            transition: 0.4s;
            margin-bottom: 4px;
            margin-top: 16px;

            &:active {
                background-color: #6b62e6;
            }
        }
    }
}